.searchMovies{
    width: 20vw;
    padding: 15px;
}

.searchBar{
    position: fixed;
    justify-content: center;
    display: flex;   
    gap: 15px;
    width: 100vw;
    background-color: aquamarine;
    padding: 10px;
}

.searchBtn{
    padding: 15px;
    border-color: black;
}

.fullPage{
    margin-top: 60px;
    display: flex;
}

.moviesList{
    margin-top: 40px;
}
